<div id="intro" class="middle">
  <div class="container">
  
    <div class="row justify-content-center align-items-left">
      <div class="col-6">
        <div class="card bg-info">

          <div class="row justify-content-center align-items-center">
            <div class="col-10 text-center">
              <h1 class="header text-white">Quest Details</h1>
              <ul class="list-group">
                <li class="list-group-item mb-2">
                  <b>title: </b> {{globalService.selectedQuest.title}}
                  <br>
                  <b>description: </b> {{globalService.selectedQuest.description}}
                  <br>
                  <b>level1: </b> {{globalService.selectedQuest.level1}}
                  <br>
                  <b>level2: </b> {{globalService.selectedQuest.level2}}
                  <br>
                  <b>max_xp: </b> {{globalService.selectedQuest.max_xp}}
                  <br>
                  <b>order: </b> {{globalService.selectedQuest.order}}
                  <br>
                  <p><b>prerequisites: </b> {{globalService.selectedQuest.prerequisites}}</p>
                  <button type="button" 
                    class="btn btn-outline-danger btn-pill" 
                    (click)="openModal(true)">X
                  </button>
                  <button type="button" 
                    class="btn btn-outline-primary btn-pill ml-1" 
                    (click)="this.isEditVisible = true">Edit
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="row justify-content-center align-items-center">
            <div *ngIf="this.isEditVisible" class="col-10 text-center">
              <h1 class="header text-white">Edit a Quest</h1>
                <input #editedQuestTitle class="form-control my-1"
                  type="text"
                  value="{{globalService.selectedQuest.title}}"
                  (keyup.enter)="globalService.selectedQuest.title = editedQuestTitle.value; 
                    editQuest(globalService.selectedQuest); 
                    this.isEditVisible = false" />
                <input #editedQuestDescription
                  type="text"
                  class="form-control my-1"
                  value="{{globalService.selectedQuest.description}}"
                  (keyup.enter)="globalService.selectedQuest.description = editedQuestDescription.value; 
                    editQuest(globalService.selectedQuest); 
                    this.isEditVisible = false" />
                <input #editedQuestLevel1
                  type="text"
                  class="form-control my-1"
                  value="{{globalService.selectedQuest.level1}}"
                  (keyup.enter)="globalService.selectedQuest.level1 = editedQuestDescription.value; 
                    editQuest(globalService.selectedQuest); 
                    this.isEditVisible = false" />
                <input #editedQuestLevel2
                  type="text"
                  class="form-control my-1"
                  value="{{globalService.selectedQuest.level2}}"
                  (keyup.enter)="globalService.selectedQuest.level2 = editedQuestDescription.value; 
                    editQuest(globalService.selectedQuest); 
                    this.isEditVisible = false" />
                <input #editedQuestMaxXP
                  type="text"
                  class="form-control my-1"
                  value="{{globalService.selectedQuest.max_xp}}"
                  (keyup.enter)="globalService.selectedQuest.max_xp = editedQuestMaxXP.value; 
                    editQuest(globalService.selectedQuest); 
                    this.isEditVisible = false" /> 
                <input #editedQuestOrder
                  type="number"
                  class="form-control my-1"
                  value="{{globalService.selectedQuest.order}}"
                  step="1000"
                  (keyup.enter)="globalService.selectedQuest.order = editedQuestOrder.value; 
                    editQuest(globalService.selectedQuest); 
                    this.isEditVisible = false" />
                <select #editedQuestPrerequisites class="form-control">
                  <option *ngFor="let quest of globalService.quests" 
                    (click)="globalService.selectedQuest.prerequisites = editedQuestPrerequisites.value; 
                    editQuest(globalService.selectedQuest); 
                    this.isEditVisible = false" 
                    value="{{globalService.selectedQuest.prerequisites}}">{{quest.key}}
                  </option>
                </select>    
                <br>
                <button type="button"
                  class="btn btn-success mb-2"
                  (click)="globalService.selectedQuest.title = editedQuestTitle.value;
                    globalService.selectedQuest.description = editedQuestDescription.value;
                    globalService.selectedQuest.level1 = editedQuestLevel1.value;
                    globalService.selectedQuest.level2 = editedQuestLevel2.value;
                    globalService.selectedQuest.max_xp = editedQuestMaxXP.value;
                    globalService.selectedQuest.order = editedQuestOrder.value;
                    globalService.selectedQuest.prerequisites = editedQuestPrerequisites.value;
                    editQuest(globalService.selectedQuest); 
                    this.isEditVisible = false">Save
                </button>
              </div>
            </div>

        </div>  
      </div>
    </div>

  </div>
</div>  