<div id="intro" class="middle">
  
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card bg-info">

          <div class="row justify-content-center align-items-center">
            <div class="col-10 text-center">
              <h1 class="header text-white">Quest Listings</h1>
              <ul class="list-group">
                <li class="my-1 list-group-item list-group-item-action" *ngFor = "let quest of quests">
                  <span (click)="questClicked(quest)">
                    <b>{{quest.title}}</b> 
                    <br>
                    <p>{{quest.description}}</p>
                  </span>
                  <button type="button" 
                    class="btn btn-outline-danger btn-pill" 
                    (click)="openModal(true); selectQuest(quest)">X
                  </button>                     
                </li>
              </ul>
            </div>
          </div>

          <div class="row justify-content-center align-items-center">
            <div class="col-10 text-center">
              <h1 class="header text-white">Create a Quest</h1>
              <input [(ngModel)]="newQuest.title" 
                type="text" 
                class="form-control my-1" 
                placeholder="new title..." />
              <input [(ngModel)]="newQuest.description" 
                type="text" 
                class="form-control my-1" 
                placeholder="new description..." />
              <input [(ngModel)]="newQuest.level1" 
                type="text" 
                class="form-control my-1" 
                placeholder="new level 1..." />
              <input [(ngModel)]="newQuest.level2" 
                type="text" 
                class="form-control my-1" 
                placeholder="new level 2..." />
              <input [(ngModel)]="newQuest.max_xp" 
                type="text" 
                class="form-control my-1" 
                placeholder="new max xp..." />
              <input [(ngModel)]="newQuest.order" 
                type="number" 
                class="form-control my-1" 
                step="1000"
                placeholder="new order..." />
              <select [(ngModel)]="newQuest.prerequisites" class="form-control">
                <option *ngFor="let quest of quests" [ngValue]="quest.key">{{quest.key}}</option>
              </select>  
              <br>
              <button type="button" 
                class=" btn btn-success mb-2" 
                (click)="addQuest(newQuest)">Create
              </button>
            </div>
          </div>

        </div>  
        <div class="row">
        <div class="col-6">
        <button type="button" 
          class="btn btn-info btn-pill" 
          (click)="navigateDashboard()">Back
        </button> 
      </div>
    </div>
      </div>

      <div class="col-6">
        <div class="card bg-info">

          <div class="row justify-content-center align-items-center">
            <div class="col-10 text-center">
              <h1 class="header text-white">Explorers</h1>
              <ul class="list-group">
                <li class="my-1 list-group-item list-group-item-action" *ngFor = "let quest of quests">
                  <span (click)="questClicked(quest)">
                    <b>{{quest.title}}</b> 
                    <br>
                    <p>{{quest.description}}</p>
                  </span>
                  <button type="button" 
                    class="btn btn-outline-danger btn-pill" 
                    (click)="openModal(true); selectQuest(quest)">X
                  </button>                     
                </li>
              </ul>
            </div>
          </div>
          </div>
      </div>
    </div>

    <div id="confirmModal" 
      class="modal" 
      role="dialog" 
      [ngStyle]="{'display': isModalVisible ? 'block' : 'none', 'opacity': 1}" 
      (click)="closeModal(false)">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
          <div class="modal-body">
            <p><strong>Are you sure you want to remove...?</strong></p>
            <button type="button" 
              class="btn btn-outline-success btn-pill" 
              (click)="removeQuest(); closeModal(false)">Remove
            </button>
            <button type="button"
              class="ml-2 btn btn-outline-danger btn-pill"
              (click)="closeModal(false)">Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
