@import '~bootstrap/dist/css/bootstrap.min.css';

#intro {
    background: url("https://wallpaper-house.com/data/out/9/wallpaper2you_347831.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.middle {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
    align-items: center;
    padding: 20px;
}
